.menus-page {
  padding: 30px;
  h2 {
    margin-bottom: 30px;
  }
  &-table {
    &-actions {
      display: flex;
      align-items: center;
      gap: 5px;
      .library-button {
        display: flex;
        align-items: center;
        i {
          margin-left: 5px;
        }
      }
      &-delete-button {
        background-color: $red;
      }
    }
  }
}
