.menus-page {
  padding: 30px;
  &-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      i {
        margin-left: 5px;
      }
    }
  }
  &-actions {
    margin-bottom: 10px;
  }
  &-table {
    .ant-table-cell {
      align-items: center;
    }
    &-actions {
      display: flex;
      align-items: center;
      gap: 5px;
      .library-button {
        display: flex;
        align-items: center;
        i {
          margin-left: 5px;
        }
      }
      &-delete-button {
        background-color: $red;
      }
    }
  }
}
