.order-detail-page {
  padding: 30px;
  &-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      flex: 1;
    }

    .order-number {
      display: flex;
      font-size: $text-xsmall;
      p {
        font-weight: bold;
      }
      span {
        margin-left: 5px;
        color: $gray;
      }
    }
  }

  &-order-status {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
  }

  &-products {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid $border-gray;
    margin-bottom: 30px;
    .products-header {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $border-gray;
    }

    .products-body {
      display: flex;
      gap: 10px;
      &-item {
        padding: 10px;
        border: 1px solid $border-gray;
        border-radius: 8px;
        img {
          width: 100px;
        }
      }
    }
  }

  &-order-info {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid $border-gray;
    margin-bottom: 30px;
    > div {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .order-info-header {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $border-gray;
    }
  }
}
