.library-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: $text-xsmall;
  line-height: 20px;
  background-color: $primary;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--primary-700, $primary);
  cursor: pointer;
  user-select: none;

  &.fluid {
    display: block;
    width: 100%;
  }

  &.variant-outlined {
    color: $black;
    border-radius: 8px;
    border: 1px solid var(--gray-300, $border-gray);
    background-color: var(--base-white, #fff);
    box-shadow: 0px 1px 2px 0px rgba($primary, 0.05);
    &:hover {
      box-shadow: $input-focus-box-shadow;
    }
    &[disabled] {
      border: 1px solid var(--gray-200, #eaecf0);
      background-color: var(--base-white, #fff);
      color: var(--gray-300, #d0d5dd);
    }
  }

  &.variant-red {
    color: #fff;
    border-radius: 8px;
    border: 1px solid var(--gray-300, rgba($red, 0.5));
    background-color: $red;
    box-shadow: 0px 1px 2px 0px rgba($red, 0.05);
    &:hover {
      box-shadow: 0px 0px 0px 3px rgba($red, 0.05),
        0px 1px 2px 0px rgba($red, 0.05);
    }
    &[disabled] {
      border: 1px solid var(--gray-200, #eaecf0);
      background-color: var(--base-white, #fff);
      color: var(--gray-300, #d0d5dd);
    }
  }

  &[disabled] {
    border: 1px solid rgba($primary, 0.1);
    background-color: rgba($primary, 0.1);
    color: var(--base-white, #fff);
    pointer-events: none;
  }

  &.size-xsmall {
    padding: 5px 10px;
    font-size: $text-xxsmall;
  }
  &.size-small {
  }
  &.size-medium {
    padding: 8px 16px;
    font-size: $text-xsmall;
  }
  &.size-large {
    padding: 10px 20px;
    font-size: $text-small;
  }

  &:hover {
    box-shadow: $input-focus-box-shadow;
  }

  &-confirm {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    z-index: 9;
    box-shadow: 0 0 20px -10px rgba(16, 24, 40, 0.7);

    &-text {
      margin-bottom: 20px;
      line-height: 1.2;
    }
    &-actions {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: flex-end;
    }

    &-arrow {
      visibility: hidden;
      z-index: 8;

      &,
      &::before {
        position: absolute;
        width: 14px;
        height: 14px;
        background: inherit;
      }

      &::before {
        visibility: visible;
        z-index: 8;
        content: "";
        transform: rotate(45deg);
      }
    }

    &[data-popper-placement^="top"] > .library-button-confirm-arrow {
      bottom: -4px;
    }
    &[data-popper-placement^="bottom"] > .library-button-confirm-arrow {
      top: -4px;
    }
  }
}
