.library-input {
  font-size: $text-xsmall;
  font-weight: 500;
  width: 100%;
  &-label {
    margin-bottom: 6px;
  }
  &-input-wrapper {
    display: block;
    padding: 8px 12px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba($primary, 0.05);

    border: 1px solid $border-gray;
    border-radius: 8px;

    font-size: $text-small;

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  &-description {
    margin-top: 6px;
    color: $gray;
  }

  &-error {
    margin-top: 6px;
    color: #f04438;
  }

  &.focus {
    .library-input-input-wrapper {
      border: 1px solid $primary;
      box-shadow: $input-focus-box-shadow;
    }
  }

  &.error {
    .library-input-input-wrapper {
      border: 1px solid #fda29b;
    }

    &.focus {
      .library-input-input-wrapper {
        box-shadow: 0px 0px 0px 4px #fee4e2,
          0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      }
    }
  }

  &.read-only {
    .library-input-input-wrapper {
      background-color: #f9fafb;
      border: 1px solid #d0d5dd;
      box-shadow: none;
    }
    input {
      color: #667085;
    }
  }
}
