.category-detail {
  padding: 20px;
  .selected-category-name {
    margin-bottom: 20px;
  }

  .category-detail-list {
    margin-bottom: 20px;
    border: 1px solid $border-gray;
    border-radius: 8px;
    padding: 10px;
    .title {
      margin-bottom: 10px;
    }

    .table-wrapper {
      .actions {
        button {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
    .active-products {
    }
    .deactive-products {
    }
  }
}
