.category-side-bar-container {
  border-right: 1px solid $border-gray;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 300px;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    h6 {
    }
    .library-button {
    }
  }

  .add-campaign-button {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .category-list {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-gray;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      font-size: $text-small;
      font-weight: bold;
      cursor: pointer;
      user-select: none;
      color: $gray;
      &:hover {
        background-color: rgba($color: $primary, $alpha: 0.1);
        p {
          color: $primary;
        }
      }
      &.active {
        background-color: rgba($color: $primary, $alpha: 0.1);
        p {
          color: $primary;
        }
      }

      i {
        font-size: 10px;
      }
    }
  }
  .add-category-button {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    .new-category-place {
      display: flex;
      align-items: center;
      .actions {
        margin-left: 10px;
        i {
          color: $gray;
          cursor: pointer;
          border-radius: 50%;
          padding: 5px;
          font-size: $text-medium;
          font-weight: bold;
        }
        .icon-checkmark {
          color: $green;
          &:hover {
            background-color: rgba($color: $green, $alpha: 0.1);
          }
        }
        .icon-cancel {
          color: $red;
          &:hover {
            background-color: rgba($color: $red, $alpha: 0.1);
          }
        }
      }
    }
  }
}
