.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  .product-card-container {
    background-color: white;
    border: 2px solid $border-gray;
    border-radius: 20px;
    overflow: hidden;
    transition: 300ms;
    width: 100%;
    cursor: pointer;
    &:hover {
      border-color: $button-default;
    }
    .selectable {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
    }
    .image-wrapper {
      width: 100%;
      height: 300px;

      img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .info {
      margin: 15px 15px;
      color: $gray;
      .name {
        font-size: 20px;
        color: $black;
        font-weight: bold;
      }
      .price {
        margin: 15px 0px;
        font-size: 15px;
        font-weight: 500;
        span {
          margin-left: 5px;
          font-size: 15px;
          font-weight: bold;
        }
      }
      .description {
        max-width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: space-around;
      border-top: 1px solid $border-gray;
      position: relative;
      transition: 300ms;
      &::before {
        content: "";
        width: 1px;
        top: calc(50% - 15px);
        height: 30px;
        background-color: $border-gray;
        position: absolute;
        right: calc(50% - 3px);
      }
      &:hover {
        border-color: $button-default;
      }
      .item {
        padding: 10px 0px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: 300ms;
      }
      .edit {
        &:hover {
          color: $button-default;
        }
      }
      .delete {
        &:hover {
          color: red;
        }
      }
    }
  }
}
