.side-bar{
  transition: all 3ms;
  width: 300px;
  box-shadow: 9px 0px 24px 0px rgba(0,0,0,0.1);
  height: 100vh;
  transition: all 200ms;
  overflow: hidden;
  .container{
    transition: all 3s;
    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 10px;
      margin-bottom: 20px;
      transition: all 3s;
      .comapny-place{
        font-size: 35px;
        font-weight: bold;
        color: #3C4469;
      }
      .opened-button{
        i{
          font-size: 35px;
          font-weight: bold;
          cursor: pointer;
          color: #2f4cdd;
        }
      }
    }
    .list{
      transition: 3s;
      .menu-item{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 50px;
        cursor: pointer;
        user-select: none;
        .icon-wrapper{
          i{
            font-size: 30px;
            color: #969ba0;
          }
        }
        .title{
          color: #969ba0;
          margin-left: 30px;
        }
        &:hover{
          background-color: rgba($color: #2f4cdd, $alpha: 0.1);
          .title{
            color: #2f4cdd;
          }
          .icon-wrapper{
            i{
              color: #2f4cdd;
            }
          }
        }
      }
    }
    
  }
  &.closed{
    width: 135px;
    display: inline-block;
    .header{
      justify-content: left;
      .opened-button{
        margin-left: 30px;
      }
    }
    .list{
      display: inline-block;
    }
  }
}

