@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fu942g');
  src:  url('fonts/icomoon.eot?fu942g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fu942g') format('truetype'),
    url('fonts/icomoon.woff?fu942g') format('woff'),
    url('fonts/icomoon.svg?fu942g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e90c";
}
.icon-cancel:before {
  content: "\e90b";
}
.icon-delete-outlined:before {
  content: "\e909";
}
.icon-edit-outlined:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e908";
}
.icon-campain:before {
  content: "\e900";
}
.icon-product:before {
  content: "\e901";
}
.icon-exit:before {
  content: "\e902";
}
.icon-kitchen:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-profile:before {
  content: "\e905";
}
.icon-qr-icon:before {
  content: "\e906";
}
.icon-sidemenu:before {
  content: "\e907";
}
.icon-checkmark:before {
  content: "\ea10";
}
