// Common
html {
  height: 100%;
  body {
    font-family: "Inter", sans-serif;
    color: $black;
    line-height: 1;
    height: 100%;
  }
  #__next {
    height: 100%;
  }
}

.global-loading {
  position: absolute;
  inset: 0;
  background-color: rgba($color: #fff, $alpha: 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: wait;
  img {
    width: 100px;
    height: 100px;
  }
}

h1 {
  font-size: 72px;
  font-weight: bold;
}
h2 {
  font-size: 60px;
  font-weight: bold;
}
h3 {
  font-size: 48px;
  font-weight: bold;
}
h4 {
  font-size: 36px;
  font-weight: bold;
}
h5 {
  font-size: 30px;
  font-weight: bold;
}
h6 {
  font-size: 24px;
  font-weight: bold;
}
