// Base
@import "./colors";
@import "./reset";
@import "normalize.css";
@import "../public/style.css";

// Pages
@import "./product-detail-page";

// Components
@import "./library/input";
@import "./library/button";
@import "./library/checkbox";

// Common
body {
  font-family: "Inter", sans-serif;
  color: $black;
  line-height: 1;
}
